{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Front</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'dist/front/styles.839ab063b5a895cd1b35.css'%}"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{% static 'dist/front/runtime.ec2944dd8b20ec099bf3.js'%}"></script>
<script type="text/javascript" src="{% static 'dist/front/polyfills.690d113ff7174db18e2f.jss'%}"></script>
<script type="text/javascript" src="{% static 'dist/front/scripts.6cf4da7113bcd1218d80.js'%}"></script>
<script type="text/javascript" src="{% static 'dist/front/main.3186ae968c585772f055.js'%}"></script></body>
</html>